<ion-view view-title="微淘">
    <!--头部区-->
    <!--<ion-header-bar class="bar bar-stable item-input-inset">-->
        <!--<a class="button button-clear icon ion-search" href="#"></a>-->
        <!--<label class="item-input-wrapper">-->
            <!--<input type="text" placeholder="在这里输入内容">-->
        <!--</label>-->
        <!--<a class="button button-clear icon ion-android-textsms icon-right" href="#"></a>-->
    <!--</ion-header-bar>-->
    <ion-header-bar class="bar bar-assertive">
        <h1 class="title">宝贝分类</h1>
    </ion-header-bar>
    <!--内容区-->
    <ion-content>
    </ion-content>
</ion-view>