<ion-view class="stable-bg"> <!--view-title="首页"-->
    <!--内容区-->
    <ion-content>
        <!--头部区 ion-ios-chatbubble-->
        <div id="home">
            <div class="home_title tabs tabs-icon-top">
                <a class="tab-item" href="">
                    <i class="icon ion-android-expand"></i>
                    扫一扫
                </a>
                <label class="item-input item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text"id="search" value="好6的篮球鞋">
                </label>
                <a class="tab-item has-badge" href="">
                    <i class="icon ion-android-textsms"></i>
                    消息
                    <i class="badge badge-light">5</i>
                </a>
            </div>
        </div>
        <!--幻灯片-->
        <ion-slide-box auto-play="true" slide-interval="1000" show-pager="true" does-continue="true">
            <ion-slide>
                <div class="box">
                    <img src="images/picShow1.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="images/picShow2.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="images/picShow3.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="images/picShow4.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="images/picShow5.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="images/picShow6.jpg">
                </div>
            </ion-slide>

        </ion-slide-box>
        <!--菜单-->
        <div class="light-bg">
            <div class="row">
                <div class="col lovelyMenu">
                    <img src="images/menu1.png"><br>
                    天猫
                </div>
                <div class="col lovelyMenu">
                    <img src="images/menu2.png"><br>
                    聚划算
                </div>
                <div class="col lovelyMenu">
                    <img src="images/menu3.png"><br>
                    淘生活
                </div>
                <div class="col lovelyMenu">
                    <img src="images/menu4.png"><br>
                    淘点点
                </div>
                <div class="col lovelyMenu">
                    <img src="images/menu5.png"><br>
                    天猫超市
                </div>
            </div>
            <div class="row">
                <div class="col lovelyMenu">
                    <img src="images/menu6.png"><br>
                    充值
                </div>
                <div class="col lovelyMenu">
                    <img src="images/menu7.png"><br>
                    旅行
                </div>
                <div class="col lovelyMenu">
                    <img src="images/menu8.png"><br>
                    金币
                </div>
                <div class="col lovelyMenu">
                    <img src="images/menu9.png"><br>
                    宝箱
                </div>
                <div class="col lovelyMenu">
                    <img src="images/menu10.png"><br>
                    分类
                </div>
            </div>
        </div>
        <!--广告图片-->
        <div class="row adver1 light-bg">
            <div class="col col-50">
                <img src="images/hotPic1.png">
            </div>
            <div class="col col-50">
                <div class="row img-top">
                    <img src="images/hotPic2.png">
                </div>
                <div class="row img-bottom">
                    <div class="col">
                        <img src="images/hotPic3.png">
                    </div>
                    <div class="col">
                        <img src="images/hotPic4.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row adver2 light-bg">
            <div class="col col-50">
                <img src="images/hotPic5.png">
            </div>
            <div class="col">
                <img src="images/hotPic6.png">
            </div>
            <div class="col">
                <img src="images/hotPic7.png">
            </div>
            <div class="col">
                <img src="images/hotPic8.png">
            </div>
        </div>
        <!--猜您喜欢-->
        <div>
            <h4 class="title text-left">猜您喜欢</h4>
        </div>
    </ion-content>
</ion-view>