<ion-tabs class="tabs-stable tabs-icon-top" id="loveTabs">
    <ion-tab title="首页" icon-on="ion-ios-world assertive" icon-off="ion-ios-world-outline" ui-sref="tabs.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="微淘" icon-on="ion-social-rss assertive" icon-off="ion-social-rss-outline" ui-sref="tabs.microTao">
        <ion-nav-view name="tab-microTao"></ion-nav-view>
    </ion-tab>
    <ion-tab title="发现" icon-on="ion-ios-paw assertive" icon-off="ion-ios-paw-outline"  ui-sref="tabs.find">
        <ion-nav-view name="tab-find"></ion-nav-view>
    </ion-tab>
    <ion-tab title="购物车" icon-on="ion-ios-cart assertive" icon-off="ion-ios-cart-outline" ui-sref="tabs.cart">
        <ion-nav-view name="tab-cart"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的爱淘" icon-on="ion-ios-person assertive" icon-off="ion-ios-person-outline" ui-sref="tabs.myLoveAmoy">
        <ion-nav-view name="tab-myLoveAmoy"></ion-nav-view>
    </ion-tab>
</ion-tabs>